<p>{{propertyId}}</p>
<!-- <div *ngIf="loading">Cargando detalles...</div>
<div *ngIf="!loading && propertyDetails">
  <h2>{{ propertyDetails.title }}</h2>
  <img [src]="propertyDetails.imageUrl" alt="Imagen de la propiedad" class="img-fluid" />
  <p>{{ propertyDetails.description }}</p>
  <p>Precio: {{ propertyDetails.price | currency }}</p>
  <p>Área: {{ propertyDetails.area }} m²</p>
  <p>Habitaciones: {{ propertyDetails.rooms }}</p>
  <p>Baños: {{ propertyDetails.bathrooms }}</p>
  <p>Pisos: {{ propertyDetails.floors }}</p>
</div> -->
