<div class="about-container">
  <div class="about">
    <h2>Quiénes Somos</h2>
    <div class="about-content row">
      <div class="about-image col-12 col-md-6 text-center mb-3 mb-md-0">
        <img src="assets/img/casa1.jpg" alt="Imagen de la Empresa" class="img-fluid larger-image">
      </div>
      <div class="about-text col-12 col-md-6">
        <p>En Las Encinas Properties, nos dedicamos a ofrecer las mejores propiedades de lujo en armonía con la naturaleza. Nuestro equipo de expertos en bienes raíces tiene años de experiencia en el mercado de propiedades exclusivas.</p>
        <p>Nos enorgullece brindar un servicio personalizado y de alta calidad a cada uno de nuestros clientes, ayudándoles a encontrar el hogar de sus sueños o la inversión perfecta.</p>
      </div>
    </div>
  </div>
</div>
